
<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <h2 class="col-6 offset-3">LogIn Page</h2>
    <div class="col-6 offset-3 mt-2">
        <form action="/login" novalidate method="post" class="needs-validation">
            <label for="username" class="form-label">Username</label>
            <input class="mb-2" type="text" name="username" id="username"  class="form-control" required>
            <div class="invalid-feedback">username required!</div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password"  class="form-control" required>
            <div class="invalid-feedback">password required!</div>
        </div>
        
        <button class="btn btn-success">Login</button>
        </form>
        <p class="mt-2" style="text-align: center;">Don't have any account? <a style="text-decoration: none;" href="/signup">Signup here</a> </p>
    </div>
</div>