
<% layout("/layouts/boilerplate") %>
<style>
    @media (max-width:577px) {
        .login-p{
            font-size: 0.80rem !important;
        }
    }
</style>
<div class="row justify-content-center">
    <h2 class="col-12 col-sm-12 col-md-10 col-lg-8 fw-semibold display-6" >
        Login to <span style="color: #fe424d;">Wanderlust</span>
      </h2>
    <div class="col-12 col-sm-12 col-md-10 col-lg-8 mt-2">
        <form action="/login" novalidate method="post" class="needs-validation">
            <label for="username" class="form-label">Username</label>
            <input  type="text" name="username" id="username" placeholder="Enter your username"  class="form-control glow-field" required>
            <div class="invalid-feedback">username required!</div>
            <br>
        <div class="mb-4">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter password"  class="form-control glow-field" required>
            <div class="invalid-feedback">password required!</div>
        </div>
        
        <button class="btn edit-btn">Login</button>
        </form>
        <p class="mt-4 login-p" style="text-align: center;">Don't have any account? <a style="text-decoration: none;" href="/signup">Signup here</a> </p>
    </div>
</div>