<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <h2 class="col-6 offset-3">SignUp Page</h2>
    <div class="col-6 offset-3">
        <form action="/signup" novalidate method="post" class="needs-validation">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" id="username"  class="form-control glow-field" required>
            <div class="valid-feedback">Looks good!</div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" id="email"  class="form-control glow-field" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password"  class="form-control glow-field" required>
        </div>
        <button class="btn edit-btn">SignUp</button>
        </form>
        <p class="mt-1" style="text-align: center;">Already have an account? <a style="text-decoration: none;" href="/login">Login here</a> </p>
    </div>
</div>